.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.submitBtn {
  text-align: right;
}
.date {
  margin-left: 10px;
}
