.card {
  padding: 30px;
  width: 75%;
  background-color: var(--color-card);
  color: var(--color-text);
  text-align: end;
}
.cardTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: var(--color-accent);
}
.cardButton {
  margin-left: auto;
}
.dataList {
  margin-bottom: 25px;
  color: var(--color-text-secondary);
  padding-left: 75px;
  text-align: left;
}
.cardItem {
  margin-bottom: 10px;
}
.linkWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
