.container {
  padding: 50px;

  background-color: var(--color-card);
  color: var(--color-text);
  margin-bottom: 40px;
}
.textContainer {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  color: var(--color-text);
}
.cotainer p {
  color: var(--color-text-secondary);
}
